<!DOCTYPE html>

<html>

<head>
 <link rel="stylesheet" href="./css/stylesheet1.css">
</head>

<body>
    <div class="portrait">
    {{>header}}
    <img src={{src}}>
    <div>{{info}}</div>
    </div>
</body>

{{>footer}}
</html>